.ChatPanel {
    width: 200px;
    min-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &-UsersList {
        flex-grow: 1;
        display: inline-flex;
        overflow: auto;
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #393836;
            height: 400px;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #393836;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #303030;
            height: 50%;
        }
    }
    &-ChatMessages {
        height: 500px;
        width: 100%;
        border-top: solid 1px grey;
    }
    @media only screen and (max-width: 1023px) {
        display: none;
    }
}

@import './components/ChatUsersList';
@import './components/Conversation';
