.RightSidePanel {
    width: 200px;
    min-width: 300px;
    background-color: #f7f6f1;
    border-left: 1px solid #9c9b97;
    box-sizing: border-box;
    @media only screen and (max-width: 1023px) {
        display: none;
    }
}